header {
    width: 100%;
    background-color: #EAC926;
    padding: 15px;
    margin: 0px;
    border-radius: 1px;    
    box-sizing: border-box;
}

header img{
    box-sizing: border-box;
    padding: 15px;
    margin: auto;   
}

.header-busqueda{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.burger-menu {
    background: #1259c3;
    color:white;
    font-size: 1.5em;
    padding: 9px 12px;
    border-radius: 9%;
}

.burger-center{
    display: flex;
    justify-content: center;
    text-decoration:none;
}

ul {
    margin: 0px;
    padding-left: 0px;
}

nav ul li a{
    color:black;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    padding-left: 0px;
    margin-left: 0px;
    justify-content:start;
    text-decoration:none;
    box-sizing: border-box;
}

main {
    background: #ebebeb;
}

article img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   /*  border: 3px solid #bcc1c1; */
    float:inline-start;
    box-sizing:border-box;
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
}

.section--titulares{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin: 0px;
    padding-top: 21px;


}

.section__article--precio{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 18px; 
}

.section__article--descuento{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
} 

.section__article--descripcion{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;   
}

.footer__icon--center{
    background: #1259c3;
    color:white;
    font-size: 2em;
    padding: 9px 9px;
    border-radius: 9%;
    margin-top: 51px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    text-decoration:none;
}

.footer__secction--h4{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom:-21px;
    margin-top: -10px;
}

.footer__secction--p{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

.footer--copyright{
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: left;
    margin: 40px 0px 0px 0px;
    
}